{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
<h1>Guess the word!</h1>
<p id="word-translation">Translation: {{ word.translation }}</p>
<form id="answer-form" action="{% url 'play_game' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="correct_word" value="{{ word.word }}">  <!-- This gets updated via JavaScript -->
    <input type="text" name="answer" placeholder="Type your answer">
    <button type="submit">Submit</button>
</form>

<div id="feedback"></div>
<div id="correct-translation"></div>
<p><a href="{% url 'game_over' %}">End game</a></p>

</body>