{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Dictionary</title>
</head>
<body>
<h1>Welcome to HSE DSBA 242-1 words ditionary!</h1>
<table>
    <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Topic</th>
    </tr>
    {% for word in words %}
    <tr>
        <td>{{ word.word }}</td>
        <td>{{ word.translation }}</td>
        <td>{{ word.topic }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination-container">
    <ul>
        <li {% if not words.has_previous %} {% endif %}>
            <a href="{% if words.has_previous %} {% url 'paginator' words.previous_page_number %} {% else %} # {% endif %}">Previous</a>
        </li>
        {% for page in words.paginator.page_range %}
        <li>
            <a href="{% url 'paginator' page %}">{{ page }}</a>
        </li>
        {% endfor %}

        <li {% if not words.has_next %} {% endif %}>
            <a href="{% if words.has_next %} {% url 'paginator' words.next_page_number %} {% else %} # {% endif %}">Next</a>
        </li>
    </ul>
</div>

<p><a href="{% url 'main_page' %}">Go back</a></p>
</body>
</html>